@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    background-image: url('./images/bg-desktop.png');
    background-color: hsl(229, 57%, 11%);
    background-position: bottom;
    background-size:contain;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.container {
    display: flex;
    gap: 30px;
    align-items: center;
}
.container-1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: hsl(228, 56%, 26%);
    padding: 40px 150px 30px 40px;
    border-radius: 10px;
    border-top-right-radius: 90px;
}
.container-1 .bottom-part {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: stretch;
    justify-items: stretch;
}
.bottom-part .icon-container {
    background-color: hsl(229, 57%, 11%);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.container-2 {
    background-color: hsl(228, 56%, 26%);
    padding: 20px 30px;
    border-radius: 10px;
    color: hsl(243, 100%, 93%);
    align-self: flex-end;
}
.container-2 p span {
    font-weight: 700;
}
.bar {
    margin-top: 20px;
    margin-bottom: 10px;
}
.bar .progress-line {
    position: relative;
    height: 15px;
    width: 500px;
    background-color: hsl(229, 57%, 11%);
    border: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.bar .progress-line::before {
    position: absolute;
    content: '';
    right: 0;
    top: -45px;
    height: 0;
    width: 0;
    border: 25px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: white; 
}
.bar .progress-line::after {
    position: absolute;
    content: '185 GB Left';
    right: 0;
    top: -100px;
    color: hsl(229, 57%, 11%);
    background: white;
    font-weight: 700;
    font-size: 24px;
    padding: 20px 15px;
    border-radius: 10px;
}
.bar .progress-line span {
    height: 80%;
    width: 80%;
    left: 2px;
    background-image: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    position: absolute;
    border-radius: 10px;
}
.progress-line span::after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    height: 0;
    width: 0;
    border-radius: 50%;
    border: 6px solid transparent;
    background-color: white;
    color: white;
}
.container-2 .info {
    display: flex;
    justify-content: space-between;
}
.attribution { 
    font-size: 11px;
    text-align: center;
    display: none;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width:965px) {
    .container-1 {
        padding: 40px 100px 30px 30px;
    }
    .bar .progress-line {
        width: 400px;
    }
}
@media only screen and (max-width:820px) {
    .container {
        gap: 20px;
    }
    .container-1 {
        padding: 40px 90px 30px 30px;
    }
    .bar .progress-line {
        width: 300px;
    }
    .bar .progress-line::before {
        top: -66px;
        border: 20px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-color: white; 
    }
    .bar .progress-line::after {
        padding: 15px 10px;
        font-size: 18px;
        top: -110px;
    }
}
@media only screen and (max-width:675px) {
    .container-1 {
        padding: 40px 60px 30px 20px;
    }
    .bar .progress-line {
        width: 250px;
    }
}
@media only screen and (max-width:600px) {
    body {
        background-image: url(./images/bg-mobile.png);
        background-position: center;
        background-size: cover;
    }
    .container {
        flex-direction: column;
        gap: 40px;
    }
    .container-1 {
        padding: 40px 150px 30px 40px;
    }
    .bar .progress-line {
        width: 400px;
    }
    .bar .progress-line::before {
        top: -40px;
        border: 20px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-color: white; 
    }
    .bar .progress-line::after {
        padding: 15px 10px;
        font-size: 18px;
        top: -80px;
    }
}
@media only screen and (max-width:470px) {
    .container {
        gap: 60px;
    }
    .container-1 {
        padding: 40px 90px 30px 30px;
    }
    .bar .progress-line {
        width: 300px;
    }
    .bar .progress-line::before {
        top: -66px;
        border: 20px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-color: white; 
    }
    .bar .progress-line::after {
        padding: 15px 10px;
        font-size: 18px;
        top: -110px;
    }
}
@media only screen and (max-width:380px) {
    .container-1 {
        padding: 40px 60px 30px 20px;
    }
    .container-2 p {
        width: 40%;
        line-height: 25px;
    }
    .bar .progress-line {
        width: 250px;
    }
    .bar .progress-line::before {
        top: -46px;
        border: 20px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-color: white; 
    }
    .bar .progress-line::after {
        padding: 15px 10px;
        font-size: 18px;
        top: -90px;
    }
}
@media only screen and (max-width:327px) {
    .bar .progress-line {
        width: 200px;
    }
    .container-2 {
        padding: 10px 20px;
    }
    .bar .progress-line::before {
        top: -52px;
        border: 15  px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-color: white; 
    }
    .bar .progress-line::after {
        padding: 5px 5px;
        font-size: 14px;
        top: -70px;
    }
}